body{
    min-height: 100vh;
    background-color: #15212d;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    width: 50%;
    background-color: #ffffff;
    margin: 40px 0;
    padding: 30px;
    border-radius: 10px;
    box-sizing: border-box;
}

#info-boxes{
    display: flex;
    justify-content: space-between;
}

.info-box{
    width: 130px;
    height: 80px;
    background-color: #e9e9e9;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #e3e0e0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-box h5{
    font-size: 12px;
    color: #4b4949;
    margin: 0 0 8px 0;
    letter-spacing: 0.5px;
}

#seesaw-container{
    width: 100%;
    height: 400px;
    margin: 30px 0;
    border-radius: 10px;
    background-color: #e3e0e0;
}

#buttons{
    display: flex;
    justify-content: center;
    margin: 0 0 30px;
    gap: 30px;
}

.button{
    width: 130px;
    height: 50px;
    border-radius: 10px;
    background-color: #15212d;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#event-log-container{
    width: 100%;
    min-height: 100px;
    background-color: #e9e9e9;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #e3e0e0;
}